<!DOCTYPE html>
<html>
  <head>
    <title>SPC serveur</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/angularControllers.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>

    <style>
      .glyphicon-thumbs-up:hover{cursor: hand;}
    </style>
  </head>
  <body ng-app ="SPCserver" ng-controller="MainCtrl" class="container fluid">

  <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/home">SPC serveur</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/#/home">Accueil</a></li>
        <li><a href="/#/plats">Plats</a></li>
        <li><a href="/#/precmds">Précommandes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()"><a href="/#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-show="isLoggedIn()"><a><span class="glyphicon glyphicon-user"></span>User :{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div>
      <div ui-view></div>
    </div>
  </div>

  <script type="text/ng-template" id ="/home.html">
    <div class="page-header">
      <h1>Bienvenu au serveur de SPC !</h1>
    </div>

    <div >
      <h3>Vous avez <a href="/#/precmds">{{precmdAPreparer}} précommandes</a> à préparer.</h3>
    </div>
    <div >
      <h3>Vous avez <a href="/#/precmds">{{precmdARetraire}} précommandes</a> à passer la caisse.</h3>
    </div>

  </script>

  <script type="text/ng-template" id ="/plats.html">
    <div class="page-header">
      <h1>Tous les plats</h1>
    </div>

    <div class="list-group" ng-repeat = "plat in plats | orderBy :'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(plat)"></span>
      {{plat.upvotes}}
        <span style="margin-left:10px; font-size:20px;">
          <a href="#/plats/{{plat._id}}">{{plat.title}}</a>
          <a href="/#/plats" ng-click="delete(plat._id)">
            <span ng-show="isAdmin()" class="glyphicon glyphicon-remove"></span>
          </a>
        </span>
    </div>
    <hr>
    <div ng-hide="isLoggedIn()">
      <h3>Vous devez <a href="/#/login">Se connecter</a> ou <a href="/#/register">S'inscrire</a> avant d'ajouter un plat.</h3>
    </div>
    <div ng-hide="isAdmin()">
      <h4><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Attention : seulement les administrateurs peuvent faire une opération.</h4>
    </div>
    <form ng-submit="addPlat()" ng-show="isAdmin()" style="margin-top:30px;">

      <div class="form-group">
        <input class="form-control" placeholder="Title" type="text" ng-model="title">
      </div>

      <div class="form-group">
        <textarea class="form-control" placeholder="Description" rows="2" ng-model="description"></textarea>
      </div>

      <div class="form-group">
        <input class="form-control" placeholder="Image Link" type="text" ng-model="image">
      </div>

      <div class="form-group">
        <select class="form-control" ng-model="type">
          <option>Entrée</option>
          <option>Dessert</option>
          <option>Soupe</option>
          <option>Fruit</option>
          <option>Boisson</option>
          <option>Plat traditionnel</option>
          <option>Plat végétarien</option>
          <option>Pâte</option>
          <option>Pizza</option>
        </select>
      </div>

      <button class="btn btn-primary" type="submit" ng-click="addPlat">Ajouter un plat</button>
    </form>
  </script>

  <script type="text/ng-template" id ="/plat.html">
    <div class="page-header">
      <h2>
        <span>{{plat.title}}</span>
      </h2>
    </div>
    <div>
    <ul class="list-group">
      <li class="list-group-item">Image : <a href={{plat.image}}>{{plat.image}}</a></li>
      <li class="list-group-item">Description : {{plat.description}}</li>
      <li class="list-group-item">Type : {{plat.type}}</li>
    </ul>
    </div>
    <hr>
    <p>La disponibilité du plat dans les semaines :</p>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Date de lundi</th>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
        <th>Opérations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="dispo in plat.dispos | orderBy:'-lundiDate'">
        <td>{{dispo.lundiDate| date:'dd/MM/yyyy' }}</td>
        <td>{{dispo.lundi === true ? "Oui" : ""}}</td>
        <td>{{dispo.mardi === true ? "Oui" : ""}}</td>
        <td>{{dispo.mercredi === true ? "Oui" : ""}}</td>
        <td>{{dispo.jeudi === true ? "Oui" : ""}}</td>
        <td>{{dispo.vendredi === true ? "Oui" : ""}}</td>
        <td>{{dispo.samedi === true ? "Oui" : ""}}</td>
        <td><button ng-show="isAdmin()" type="button" class="btn btn-default btn-sm" ng-click="deleteDispo(dispo._id)">
            <span class="glyphicon glyphicon-remove"></span> Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <hr>
    <div ng-hide="isLoggedIn()">
      <h3>Vous devez <a href="/#/login">Se connecter</a> ou <a href="/#/register">S'inscrire</a> avant d'ajouter la disponibilité.</h3>
    </div>
    <div ng-hide="isAdmin()">
      <h4><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Attention : seulement les administrateurs peuvent faire une opération.</h4>
    </div>
    <form ng-submit="addDispo()" ng-show="isAdmin()" style="margin-top:30px;">
      <div class="form-group">
        Mettez une date de Lundi de la semaine
        <input type="date" class="form-control" ng-model="dispo.lundiDate" />
      </div>
      <div>
      <label class="checkbox-inline"><input type="checkbox" ng-model="dispo.lundi">Lundi</label>
      <label class="checkbox-inline"><input type="checkbox" ng-model="dispo.mardi">Mardi</label>
      <label class="checkbox-inline"><input type="checkbox" ng-model="dispo.mercredi">Mercredi</label>
      <label class="checkbox-inline"><input type="checkbox" ng-model="dispo.jeudi">Jeudi</label>
      <label class="checkbox-inline"><input type="checkbox" ng-model="dispo.vendredi">Vendredi</label>
      <label class="checkbox-inline"><input type="checkbox" ng-model="dispo.samedi">Samedi</label>
     </div>
      <hr>
      <button class="btn btn-primary" type="submit" name="button">Ajouter disponibilité</button>
    </form>
  </script>

  <script type="text/ng-template" id ="/precmds.html">
    <div class="page-header">
      <h1>Toutes les précommandes</h1>
    </div>
    <div class="form-group">
        Consultez les précommandes de :
        <input class="form-control" placeholder="DD/MM/YYYY" type="text" ng-model="dateConsult">
      </div>
   
    <button type="button" ng-show="isPreparateur()" class="btn btn-danger btn-block" ng-click="distribution()">Démarrer la distribution des n°Casiers pour aujourd'hui avant la préparation!</button>
    <p ng-show="isPreparateur()">*Le système de précommande ferme à 10:30</p>
    <hr>
    <div ng-hide="isLoggedIn()">
      <h3>Vous devez <a href="/#/login">Se connecter</a> ou <a href="/#/register">S'inscrire</a> avant de traiter les précommandes.</h3>
    </div>
      <table class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th>N° de commande</th>
          <th>N° de casier</th>
          <th>Périphérique</th>
          <th>Périphérique</th>
          <th>Périphérique</th>
          <th>Périphérique</th>
          <th ng-show="isPreparateur()">Préparation</th>
          <th ng-show="isCaissier()">Retrait</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{danger: precmd.preparation && !precmd.retrait, active: precmd.retrait}" ng-repeat = "precmd in precmds | orderBy : ['preparation','retrait','-date','nCommande'] | filter:dateConsult" ng-hide="precmd.annulation" ng-show="precmd.date===dateConsult">
          <td>{{precmd.date}}</td>
          <td>{{precmd.nCommande}}</td>
          <td>{{precmd.nCasier}}</td>
          <td>{{precmd.peri1}}</td>
          <td>{{precmd.peri2}}</td>
          <td>{{precmd.peri3}}</td>
          <td>{{precmd.peri4}}</td>
          <td>
            <button ng-show="isPreparateur() && !precmd.preparation && !precmd.retrait" type="button" class="btn btn-default btn-sm" ng-click="preparer(precmd)">
            <span class="glyphicon glyphicon-ok"></span>
            </button>
          </td>
          <td>
            <button ng-show="isCaissier() && !precmd.retrait && precmd.preparation" type="button" class="btn btn-default btn-sm" ng-click="retraire(precmd)">
            <span class="glyphicon glyphicon-ok"></span>
            </button></td>
        </tr>
        </tbody>
      </table>
    <hr>
        <form ng-submit="addPrecmd()" ng-show="isAdmin()" style="margin-top:30px;">
      <div class="form-group">
        <label class="item item-input item-select">
        <div class="input-label">
          Restaurant CROUS :
        </div>
        <select class="form-control" ng-model="precmdE.restaurant">
          <option>Sully</option>
        </select>
        </label>
        <label class="item item-input item-select">
        <div class="input-label">
          Date de commande :
        </div>
        <select class="form-control" ng-model="precmdE.jour" ng-change="date()">
          <option>Aujourd'hui</option>
          <option>Demain</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Heure d'arrivée :
        </div>
        <select ng-options="hour as hour.label for hour in plagehoraire track by hour.id" ng-model="precmdE.horaire"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Type de menu
        </div>
        <select ng-options="type as type.label for type in typePlat track by type.id" ng-model="precmdE.typePlat"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Périphérique 1
        </div>
        <select ng-options="peripherique.label group by peripherique.type for peripherique in peripheriques " ng-model="precmdE.peri1"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Périphérique 2
        </div>
        <select ng-options="peripherique.label group by peripherique.type for peripherique in peripheriques " ng-model="precmdE.peri2"></select>
      </label>
      <label class="item item-input item-select" ng-show="precmdE.typePlat.id<3">
        <div class="input-label">
          Périphérique 3
        </div>
        <select ng-options="peripherique.label group by peripherique.type for peripherique in peripheriques " ng-model="precmdE.peri3"></select>
      </label>
      <label class="item item-input item-select" ng-show="precmdE.typePlat.id===2">
        <div class="input-label">
          Périphérique 4
        </div>
        <select ng-options="peripherique.label group by peripherique.type for peripherique in peripheriques " ng-model="precmdE.peri4"></select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Boisson
        </div>
        <select ng-options="boisson as boisson.label for boisson in boissons track by boisson.id" ng-model="precmdE.boisson"></select>
      </label>
      </div>
      <button class="btn btn-primary" type="submit" ng-click="addPrecmd">Faire une précmd</button>
    </form>
    
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>SPC serveur</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
          style="margin-top:30px;">
      <h3>Register</h3>

      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Username"
               ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="Password"
               ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>

  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>SPC serveur</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
          style="margin-top:30px;">
      <h3>Log In</h3>

      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Username"
               ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="Password"
               ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>
  </body>
</html>
